* {
    margin: 0;
    padding: 0;
}

body {
    background-image: $fondoRedes;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

/* OFERTAS/NOSOTROS/PAGOS/REDES/ETC */
h2 {
    background-image: $fondoFooter;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

h1 {
    @extend h2;
    font-size: xx-large;
}

.portada{
    width: 100%;
}

/* DEFINIMOS EL ESTILO DE TODOS LOS PRODUCTOS*/
.productosPortada {
    
    @include size($sizePortada, $sizePortada);
}

.box1{
    border: 2px solid $bordes;
    background-image: $fondoProductos;
}
.precio{
    font-size: 1.5em;
}