header {
    background-image: $fondoRedes;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    border-bottom: 2px solid $bordes;
    text-transform: uppercase;
}

/* APLICAMOS NESTING*/

.navbar {
    margin-top: 1.1em;
}

.nav-link {
    display: flex;
    justify-content: flex-end;
}

.formu{
    padding: 1em;
}

.logoRavetta {
    @include size($sizeRavetta, $sizeRavetta);
}

