$bordes: black;
$fondoRedes: url('../img/fondo000.webp');
$fondoFooter: url('../img/fondo0000.webp');
$fondoProductos: url('../img/fondo00.webp');
$sizeLogos: 60px;
$sizePortada: 20em;
$sizeRavetta: 6em;
$porcentaje: 50%;
$porcentaje2: 40%;